<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Anonymous+Pro&display=swap" rel="stylesheet">

  <title>Template Flask App</title>
</head>
<body>
  <style>
    * {
      font-family: 'Anonymous Pro', monospace;
      margin: 0;
      padding: 0;
    }
    .container {
      display: flex;
      height: 100vh;
      width: 100%;
      align-items: center;
      justify-content: center;
      flex-direction: column;
    }
    .title {
      font-size: 6em;
      margin-bottom: 1em;
    }
  </style>

  <main>
    <div class="container">
      <h1 class="title">
        Simple Flask Template
      </h1>
      <h3>
        {{ utc_dt }}
      </h3>
    </div>
  </main>
</body>
</html>